@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f4f04e12f3ccd04417e4e9a9240c4b2b") format("truetype"),
url("./flaticon.woff?f4f04e12f3ccd04417e4e9a9240c4b2b") format("woff"),
url("./flaticon.woff2?f4f04e12f3ccd04417e4e9a9240c4b2b") format("woff2"),
url("./flaticon.eot?f4f04e12f3ccd04417e4e9a9240c4b2b#iefix") format("embedded-opentype"),
url("./flaticon.svg?f4f04e12f3ccd04417e4e9a9240c4b2b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-clock:before {
    content: "\f101";
}
.flaticon-writing:before {
    content: "\f102";
}
.flaticon-star:before {
    content: "\f103";
}
.flaticon-learn:before {
    content: "\f104";
}
.flaticon-information:before {
    content: "\f105";
}
.flaticon-loving-heart-shape:before {
    content: "\f106";
}
.flaticon-bitcoin:before {
    content: "\f107";
}
.flaticon-paypal:before {
    content: "\f108";
}
.flaticon-folder:before {
    content: "\f109";
}
.flaticon-question:before {
    content: "\f10a";
}
.flaticon-youtube:before {
    content: "\f10b";
}
.flaticon-phone-call:before {
    content: "\f10c";
}
.flaticon-chat-bubble:before {
    content: "\f10d";
}
.flaticon-rewind-button:before {
    content: "\f10e";
}
.flaticon-forward-button:before {
    content: "\f10f";
}
.flaticon-direct-download:before {
    content: "\f110";
}
.flaticon-list:before {
    content: "\f111";
}
.flaticon-play-button:before {
    content: "\f112";
}
.flaticon-home:before {
    content: "\f113";
}
.flaticon-cancel:before {
    content: "\f114";
}
