@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?7c347afb92d3432ddcd9f906376c9e23") format("truetype"),
url("./flaticon.woff?7c347afb92d3432ddcd9f906376c9e23") format("woff"),
url("./flaticon.woff2?7c347afb92d3432ddcd9f906376c9e23") format("woff2"),
url("./flaticon.eot?7c347afb92d3432ddcd9f906376c9e23#iefix") format("embedded-opentype"),
url("./flaticon.svg?7c347afb92d3432ddcd9f906376c9e23#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-clock:before {
    content: "\f101";
}
.flaticon-writing:before {
    content: "\f102";
}
.flaticon-star:before {
    content: "\f103";
}
.flaticon-learn:before {
    content: "\f104";
}
.flaticon-information:before {
    content: "\f105";
}
.flaticon-loving-heart-shape:before {
    content: "\f106";
}
.flaticon-bitcoin:before {
    content: "\f107";
}
.flaticon-paypal:before {
    content: "\f108";
}
.flaticon-folder:before {
    content: "\f109";
}
.flaticon-question:before {
    content: "\f10a";
}
.flaticon-youtube:before {
    content: "\f10b";
}
.flaticon-phone-call:before {
    content: "\f10c";
}
.flaticon-chat-bubble:before {
    content: "\f10d";
}
.flaticon-rewind-button:before {
    content: "\f10e";
}
.flaticon-forward-button:before {
    content: "\f10f";
}
.flaticon-direct-download:before {
    content: "\f110";
}
.flaticon-list:before {
    content: "\f111";
}
.flaticon-play-button:before {
    content: "\f112";
}
.flaticon-home:before {
    content: "\f113";
}
.flaticon-cancel:before {
    content: "\f114";
}
.flaticon-technics:before {
    content: "\f115";
}
.flaticon-games:before {
    content: "\f116";
}
.flaticon-video-player:before {
    content: "\f117";
}
.flaticon-mail:before {
    content: "\f118";
}
.flaticon-contact:before {
    content: "\f119";
}
.flaticon-call:before {
    content: "\f11a";
}
.flaticon-bug-fixing:before {
    content: "\f11b";
}
