$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?f4f04e12f3ccd04417e4e9a9240c4b2b") format("truetype"),
url("./flaticon.woff?f4f04e12f3ccd04417e4e9a9240c4b2b") format("woff"),
url("./flaticon.woff2?f4f04e12f3ccd04417e4e9a9240c4b2b") format("woff2"),
url("./flaticon.eot?f4f04e12f3ccd04417e4e9a9240c4b2b#iefix") format("embedded-opentype"),
url("./flaticon.svg?f4f04e12f3ccd04417e4e9a9240c4b2b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "clock": "\f101",
    "writing": "\f102",
    "star": "\f103",
    "learn": "\f104",
    "information": "\f105",
    "loving-heart-shape": "\f106",
    "bitcoin": "\f107",
    "paypal": "\f108",
    "folder": "\f109",
    "question": "\f10a",
    "youtube": "\f10b",
    "phone-call": "\f10c",
    "chat-bubble": "\f10d",
    "rewind-button": "\f10e",
    "forward-button": "\f10f",
    "direct-download": "\f110",
    "list": "\f111",
    "play-button": "\f112",
    "home": "\f113",
    "cancel": "\f114",
);

.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-writing:before {
    content: map-get($flaticon-map, "writing");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-learn:before {
    content: map-get($flaticon-map, "learn");
}
.flaticon-information:before {
    content: map-get($flaticon-map, "information");
}
.flaticon-loving-heart-shape:before {
    content: map-get($flaticon-map, "loving-heart-shape");
}
.flaticon-bitcoin:before {
    content: map-get($flaticon-map, "bitcoin");
}
.flaticon-paypal:before {
    content: map-get($flaticon-map, "paypal");
}
.flaticon-folder:before {
    content: map-get($flaticon-map, "folder");
}
.flaticon-question:before {
    content: map-get($flaticon-map, "question");
}
.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-chat-bubble:before {
    content: map-get($flaticon-map, "chat-bubble");
}
.flaticon-rewind-button:before {
    content: map-get($flaticon-map, "rewind-button");
}
.flaticon-forward-button:before {
    content: map-get($flaticon-map, "forward-button");
}
.flaticon-direct-download:before {
    content: map-get($flaticon-map, "direct-download");
}
.flaticon-list:before {
    content: map-get($flaticon-map, "list");
}
.flaticon-play-button:before {
    content: map-get($flaticon-map, "play-button");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-cancel:before {
    content: map-get($flaticon-map, "cancel");
}
