@font-face {
  font-family: 'KxIcons';
  src:
    url('fonts/KxIcons.ttf?tdhl8f') format('truetype'),
    url('fonts/KxIcons.woff?tdhl8f') format('woff'),
    url('fonts/KxIcons.svg?tdhl8f#KxIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Kx-"], [class*=" Kx-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'KxIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Kx-youtube:before {
  content: "\e900";
}
.Kx-video-player:before {
  content: "\e901";
}
.Kx-version:before {
  content: "\e902";
}
.Kx-telegram:before {
  content: "\e903";
}
.Kx-technics:before {
  content: "\e904";
}
.Kx-star:before {
  content: "\e905";
}
.Kx-button-play:before {
  content: "\e906";
}
.Kx-paypal:before {
  content: "\e907";
}
.Kx-menu:before {
  content: "\e908";
}
.Kx-learn:before {
  content: "\e909";
}
.Kx-languages:before {
  content: "\e90a";
}
.Kx-information:before {
  content: "\e90b";
}
.Kx-home:before {
  content: "\e90c";
}
.Kx-heart:before {
  content: "\e90d";
}
.Kx-group-talking:before {
  content: "\e90e";
}
.Kx-group:before {
  content: "\e90f";
}
.Kx-github:before {
  content: "\e910";
}
.Kx-git:before {
  content: "\e911";
}
.Kx-games:before {
  content: "\e912";
}
.Kx-facebook:before {
  content: "\e913";
}
.Kx-directory:before {
  content: "\e914";
}
.Kx-direct-download:before {
  content: "\e915";
}
.Kx-crypto-wallet:before {
  content: "\e916";
}
.Kx-crypto-litecoin:before {
  content: "\e917";
}
.Kx-crypto-ethereum:before {
  content: "\e918";
}
.Kx-crypto-chia:before {
  content: "\e919";
}
.Kx-crypto-bitcoin:before {
  content: "\e91a";
}
.Kx-copy:before {
  content: "\e91b";
}
.Kx-contact-question:before {
  content: "\e91c";
}
.Kx-contact-phone-call:before {
  content: "\e91d";
}
.Kx-contact-phone:before {
  content: "\e91e";
}
.Kx-contact-mail:before {
  content: "\e91f";
}
.Kx-contact-chat:before {
  content: "\e920";
}
.Kx-contact:before {
  content: "\e921";
}
.Kx-clock:before {
  content: "\e922";
}
.Kx-button-cancel:before {
  content: "\e923";
}
.Kx-button-rewind:before {
  content: "\e924";
}
.Kx-button-forward:before {
  content: "\e925";
}
.Kx-bug-fixing:before {
  content: "\e926";
}
.Kx-bitg-time:before {
  content: "\e927";
}
.Kx-arrow-up:before {
  content: "\e928";
}
.Kx-arrow-send:before {
  content: "\e929";
}
.Kx-arrow-down:before {
  content: "\e92a";
}
