/********* Variables *********/
:root{
    --purple: #6400cc;

    --white: #fff;
    --black: #000;
    
    --gray01: #111;
    --gray02: #222;
    --gray04: #444;
    --gray06: #666;
    
    --magenta: #f0f;
    --cyan: #0ff;
}
/********* End Variables *********/


/********* Importing fonts *********/
@font-face{
    font-family: "nunito";
    src: url(../Sources/Fonts/Nunito-Regular.ttf);
}
@font-face{
    font-family: "aladin";
    src: url(../Sources/Fonts/Aladin-Regular.ttf);
}
/********* End Importing fonts *********/


/********* Reseting styles *********/
body, body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: nunito;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: 0 auto;
    font-size: 16px;
    background: var(--gray01);
}
h2, h3, h4, h5, h6{
    margin-left: .2rem;
}
a{
    display: inline-block;
    color: var(--purple);
    text-decoration: none;
}
span{
    display: inline-block;
}
/********* End Reseting styles *********/


/********* Spiner styles *********/
.spinerContent{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    /* display switch with JS */
    justify-content: center;
    align-items: center;
    background: #000;
}
.spinerContent__spiner{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: .8em solid #222;
    border-left: .8em solid #6400cc;
    animation: spiner .15s ease-in infinite;
}
@keyframes spiner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/********* End Spiner styles *********/


/********* Main structure styles *********/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}
.main__mainSection{
    /* display are added with the class display-y */
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin-top: 1rem;
    padding-bottom:1em;
    background-color: var(--gray02);
    outline: 1px solid var(--gray06);
}
.main__mainSection:first-child{
    max-width: 1366px;
    /* Removing the outline to mainSection Home */
    outline: none;
}
.mainSection__header{
    margin-top: 1rem;
    font-size: 2.4rem;
    font-family: aladin;
    color: var(--white);
    text-shadow: 0 0 .2em var(--purple);
    cursor: default;
}
.mainSection__text{
    text-align: center;
    color: var(--white);
}
.mainSection__subSection{
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 1em 0;
    margin-top: 2rem;
    border-radius: .8em;
    overflow: hidden;
    background: var(--white);
    outline: 2px solid var(--black);
}
.mainSection__subSection-header{
    font-size: 2rem;
    font-family: aladin;
    padding: auto .4em 0;
    width: 100%;
    text-align: center;
}
.mainSection__subSection-header h2{
    padding: auto .4em 0;
    font-size: 2rem;
    font-family: aladin;
    text-align: center;
}
.subSection__subSection{
    width: 96%;
    margin: 1em auto 0;
    border-radius: 1em 0;
    overflow: hidden;
    border: 1px solid var(--black);
    box-shadow: .2em .2em .4em var(--gray02);
}
/********* End Main structure styles *********/


/********* Modifier classes styles *********/
.Kx-icon{
    display: inline-block;
    margin: 0 .2em;
}
.display-y{
    display: flex;
}
.display-n{
    display: none;
}
.text{
    padding: 0 .8em;
}
.videoContainer{
    position: relative;
    height: 0;
    width: 100%;
    max-width: 683px;
    padding-bottom: 56.25%;
    margin: 0 auto;
}
/* Media activated when .videoContainer reach his max-width */
@media screen and (min-width:683px){
    .videoContainer{padding-bottom: 384px;}
}
.videoContainer__video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.textCard__header{
    margin-top: .2em;
    margin-left: .4em;
    font-size: 1.4rem;
    font-weight: bold;
}
.basicList__item{
    padding: .2em .2em 0;
    margin-top: .4em;
    margin-left: 1.6em;
}
/********* End Modifier classes styles *********/








/********* Header styles *********/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 4.5em;
    background: var(--black);
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header__logo-image{
    display: flex;
    justify-content: center;
    margin-left: 1em;
    border-radius: 20% 0;
    border: .1em solid var(--white);
}
.header__logo-text{
    font-family: aladin;
    font-size: 2.5em;;
    margin-left: .1em;
    margin-top: .1em;
    color: var(--white);
    text-shadow: 0.1em 0em .1em var(--purple);
}
.btnMenu{
    padding: .4rem;
    margin-right: 1rem;
    font-size: 1.2em;
    color: var( --gray06);
    border-radius: 8%;
    border: .1rem solid var( --gray06);
}
.btnMenu::selection{
    color: none;
}
.btnMenu:hover{
    color: var( --white);
    background: linear-gradient( var(--gray01), var(--gray02));
    border: .1rem solid var(--white);
    box-shadow: 0 0 .4em var(--gray06);
    cursor: pointer;
}
/********* End Header styles *********/


/********* Nav styles *********/
.nav{
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 80%;
    max-height: 100%;
    flex-direction: column;
    overflow: scroll;
    color: var(--white);
    background: var(--gray02);
    border-left: .1em solid var(--gray06);
}
.nav__header{
    display: flex;
    justify-content: flex-end;
    background-color: var(--black);
}
.nav__header:hover{
    background: linear-gradient( var(--gray02), var(--black));
}
.nav__header-text{
    padding: 1rem;
    font-family: aladin;
    font-size: 2em;
    color: var(--gray06);
}
.nav__header-text:hover{
    color: var(--white);
    cursor: pointer;
}
.nav__link{
    display: flex;
    padding: 1rem;
    padding-left: 1.6rem;
    color: var(--white);
    cursor: pointer;
}
.nav__link:hover{
    background: var(--background03);
}
.navLinkLangs .arrow{
    position: absolute;
    right: 0;
    margin-right: 2em;
}
.langsList{
    width: 100%;
    list-style: none;
}
.langsList-item a{
    width: 100%;
    padding: 1em 1em 1em 4em;
    color: var(--white);
}
.langsList-item:hover{
    background: var(--black);
}
.btnMenuClose{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.em;
    color: var(--white);
    background: linear-gradient(var(--gray01), var(--gray04));
}
.btnMenuClose:hover{
    background: linear-gradient( var(--black), var(--gray02));
    cursor: pointer;
}
/********* End Nav styles *********/


/********* KxWelcome styles *********/
#kxWelcome{
    margin-top: 4.4em;
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--white);
    overflow: hidden;
    cursor: default;
}
.kxWelcome__image{
    width: 100%;
}
.kxWelcome__text{
    position: absolute;
    width: 70%;
    margin-top: 10%;
    font-size: 2em;
    font-family: Aladin;
    text-align: center;
    text-shadow: 0 0 .1em var(--black), 0 0 .4em var(--magenta), 0 0 .2em var(--cyan);
}
.kxWelcome__text-tagLine{
    display: block;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: .8rem;
}
.kxWelcome__ground{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 1.6rem;
    border-radius: 100% 100% 0 0;
    background: linear-gradient( var(--purple), #0000);
}
/********* End KxWelcome styles *********/


/********* mainSection home styles *********/
.main__mainSection:nth-child(1){
    background: none;
}
.greetingsContainer{
    background-color: var(--white);
    border-radius: .8em 0;
    overflow: hidden;
    padding: .8rem .4rem;
    text-align: center;
}

.mainSectionCards-container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    width: 100%;
}

.mainSectionCard-container{
    width: 85%;
    min-width: 300px;
    max-width: 480px;
    margin: 2rem auto 0;
}

.mainSectionCard{
    overflow: hidden;
}
.mainSectionCard__img{
    position: relative;
}
.mainSectionCard__title{
    text-align: center;
}
.mainSectionCard__icon, .mainSectionCard__title strong{
    font-size: 2em;
}
.mainSectionCard__title strong{
    font-family: aladin;
    margin: 0 .4rem;
}
.mainSectionCard .text{
    text-align: center;
}
.mainSectionCard__button{
    width: 100%;
    padding: .8rem;
    margin-top: .8rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--black);
    background: linear-gradient( 90deg, var(--gray04) , var(--white));
    border: none;
    border-top: .1rem solid var(--purple);
}
.mainSectionCard__button:hover{
    background: linear-gradient( 90deg, var(--black) , var(--gray02));
    border-top: .1rem solid var(--gray06);
    color: var(--white);
}

.animatedBorder{
    position: relative;
    width: 100%;
    color: white;
    background: linear-gradient( 90deg, #000, #444);
}
.animatedBorder:before, .animatedBorder:after{
    content: '';
    position: absolute;
    z-index: -1;
    top: -.3rem;
    left: -.3rem;
    width: calc(100% + .6rem);
    height: calc(100% + .6rem);
    overflow: hidden;
    /* backGradient must be before backSize */
    background: linear-gradient( 90deg,#6400cc, cyan, magenta, #6400cc, cyan, magenta , #6400cc );
    background-size: 300%;
}
.animatedBorder::before{
    /* animatedBorder::after acts like solid border */
    filter: blur(.4rem);
}
.mainSectionCard, .animatedBorder, .animatedBorder:before, .animatedBorder:after{
    border-radius: 2rem 0;
}
@keyframes BorderAnimation{
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 300%;
    }
}
/********* End mainSection home styles *********/


/********* mainSection courses styles *********/
/* subSection coursesCards styles */
.courseCards-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.courseCard{
    width: 46%;
    min-width: 312px;
    max-width: 480px;
    flex-grow: 1;
    margin: 1rem 4px 0;
    display: flex;
    color: var(--white);
    border-radius: 1rem 0;
    overflow: hidden;
    box-shadow: .2rem .2rem .2rem var(--black);
    outline: .2rem solid var(--black);
}
.courseCard__header{
    width: 50%;
    min-width: 100px;
    max-width: 128px;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(var(--purple), var(--black));
}
.courseCard__header-title{
    font-family: aladin;
    font-size: 2rem;
    text-align: center;
}
.courseCard__header-subTitle{
    font-size: .8rem;
    color: #888;
    text-align: center;
}
.courseCard__header .Kx-icon{
    font-size: 3rem;
}
.courseCard__body{
    padding: .4rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#444, #111);
}
.courseCard__body-lastUpdate{
    display: flex;
    justify-content: flex-end;
}
.courseCard__body-lastUpdate span{
    margin-left: .4rem;
    color: #888;
}
.courseCard__body-title{
    margin-top: 1rem;
    font-family: aladin;
}
.courseCard__button{
    align-self: end;
    padding: .4rem;
    margin: 1rem .4rem .2rem 0;
    width: 150px;
    font-size: 1.2rem;
    font-family: aladin;
    color: var(--white);
    background: linear-gradient(var(--purple), var(--black));
    border: none;
    border-radius: .4rem 0;
    overflow: hidden;
}
.courseCard__button:hover{
    cursor: pointer;
    color: var(--white);
    box-shadow: .2rem .2rem .2rem var(--black);
}

/* subSection course styles */
.course__details{
    width: 100%;
    margin-top: .4em;
    display: flex;
    justify-content: space-around;
    cursor: default;
}
.course__text{
    margin-top: 1em;
}
.course__text::first-line{
    font-size: 1.25em;
}
.course__modulesList{
    margin-top: 2em;
    list-style: none;
    width: 96%;
}
.course__modulesList-header{
    font-size: 1.2em;
    border-bottom: .1em solid var(--purple);
}
.course__modulesList-item{
    display: flex;
    justify-content: space-between;
    padding: .4em;
    margin-left: .4em;
}
.course__modulesList-item:hover{
    color: var(--purple);
    cursor: pointer;
}
.course__resourcesList-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.course__resource-list{
    margin-top: 1.6em;
    min-width: 300px;
    max-width: 480px;
    width: 45%;
    list-style: none;
}
.course__resource-list-header{
    font-size: 1.2em;
    border-bottom: .1em solid var(--purple);
}
.course__resource-item-link{
    padding: .4em;
    color: var(--black);
}
.course__resource-item-link:hover{
    color: var(--purple);
}
#btnShowCourseCards{
    margin-top: 1rem;
    padding: .8rem;
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    border-radius: 1em 0;
    border: .1em solid var(--gray02);
    background: linear-gradient( var(--gray04), var(--gray02) );
    color: white;
}
#btnShowCourseCards:hover{
    background: linear-gradient( var(--gray02), var(--black) );
    text-shadow: 0 0 .2em var(--purple);
}

/* subSection module styles */
.module__controls{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 683px;
}
.module__control-item{
    padding: .2em;
    flex-grow: 1;
    text-align: center;
    border-bottom: .1em solid #0000;
    color: var(--black);
}
.module__control-item:hover{
    color: var(--purple);
    border-bottom: .1em solid var(--purple);
    cursor: pointer;
}
.module__description{
    margin-top: .8em;
}
.module__description::first-line{
    font-size: 1.2em;
}
/********* End mainSection courses styles *********/


/********* mainSection questions styles *********/
/********* End mainSection questions styles *********/


/********* mainSection supportUs styles *********/
.methodCards-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.methodCard{
    width: 40%;
    min-width: 312px; /* 312px +8px (margin)= 320px */
    max-width: 480px;
    flex-grow: 1;
    margin: 1rem 4px 0;
}
.methodCard__text{
    text-align: center;
}
.methodCard__details{
    /* display, with display-y or display-n classes */
    flex-direction: column;
}
.methodCard__details-header{
    margin: 1em .8em 0;
    font-size: 1.2em;
    font-weight: bold;
}
.methodCard__button{
    width: 100%;
    display: inline-block;
    margin-top: .4em;
    padding: .4em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    background: var(--gray06);
}
.methodCard__button:hover{
    cursor: pointer;
    color: var(--purple);
    background: var(--black);
}

.copyableElement-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.copyableElement-fake{
    width: 25%;
    flex-grow: 1;
    font-size: 1rem;
    border: none;
}
.button-copy{
    padding: .4em;
    color: var(--gray04);
    border-bottom: .1em solid transparent;
}
.button-copy:hover{
    cursor: pointer;
    color: var(--black);
    border-bottom: .1em solid var(--black);
}
/********* End mainSection supportUs styles */


/********* mainSection aboutUs styles *********/
.main__mainSection:nth-child(5) .subSection__subSections-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.main__mainSection:nth-child(5) .subSection__subSection{
    width: 30%;
    min-width: 312px; /* 312px +8px (margin)= 320px */
    max-width: 480px;
    flex-grow: 1;
    margin: 1rem 4px 0;
}
/********* End mainSection aboutUs styles */


/********* Footer styles *********/
.footer{
    padding: .4em;
    margin-top: 1em;
    color: #fff;
    background: #000;
    border-top: .2em solid var(--purple);
}
.footer__license{
    padding: .5em;
    font-size: .8em;
    text-align: center;
}
/********* End Footer styles *********/