

/* subSection module styles */
.module__controls{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 683px;
}
.module__control-item{
    padding: .2em;
    flex-grow: 1;
    text-align: center;
    border-bottom: .1em solid #0000;
    color: var(--black);
}
.module__control-item:hover{
    color: var(--purple);
    border-bottom: .1em solid var(--purple);
    cursor: pointer;
}
.module__description{
    margin-top: .8em;
}
.module__description::first-line{
    font-size: 1.2em;
}
/********* End mainSection courses styles *********/


/********* mainSection questions styles *********/
/********* End mainSection questions styles *********/


/********* mainSection supportUs styles *********/













/********* End mainSection supportUs styles */


/********* mainSection aboutUs styles *********/
.main__mainSection:nth-child(5) .subSection__subSection{
    width: 30%;
    min-width: 312px; /* 312px +8px (margin)= 320px */
    max-width: 480px;
    flex-grow: 1;
    margin: 1rem 4px 0;
}
/********* End mainSection aboutUs styles */