/*********Variables*********/
:root{
    --purple: #6400cc;

    --white: #fff;
    --black: #000;
    
    --gray01: #111;
    --gray02: #222;
    --gray04: #444;
    --gray06: #666;

    --background02: red;
    --background03: #444;
    
    --magenta: #f0f;
    --cyan: #0ff;
}
/*********End variables*********/


/*********Importing fonts*********/
@font-face{
    font-family: "nunito";
    src: url(../Sources/Fonts/Nunito-Regular.ttf);
} 
@font-face{
    font-family: "aladin";
    src: url(../Sources/Fonts/Aladin-Regular.ttf);
}
/*********End. Importing fonts*********/


/*********Reseting Styles*********/
body, body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: nunito;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin: 0 auto;
    font-size: 16px;
    background: var(--gray01);
}
h2, h3, h4, h5, h6{
    margin-left: .2rem;
}
a{
    display: inline-block;
    color: var(--purple);
    text-decoration: none;
}
.flaticon{
    display: inline-block;
/*     margin: auto .4em auto .2em; */
    margin: 0 .2em;
}
.text{
    padding: 0 .8em;
}
/*********End. Reseting Styles*********/


/*********Header Styles*********/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 4.5em;
    background: var(--black);
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo-image{
    display: flex;
    justify-content: center;
    margin-left: 1em;
    border-radius: 20% 0;
    border: .1em solid var(--white);
}
.header__logo-text{
    font-family: aladin;
    font-size: 2.5em;;
    margin-left: .1em;
    margin-top: .1em;
    color: var(--white);
    text-shadow: 0.1em 0em .1em var(--purple);
}
.btnMenu{
    padding: .5em;
    margin-right: 1em;
    border-radius: 8%;
    border: .1em solid var( --gray06);
    color: var( --gray06);
}
.btnMenu:hover{
    color: var( --white);
    background: linear-gradient( var(--gray01), var(--gray02));
    border: .1rem solid var(--white);
    box-shadow: 0 0 .5em var(--white);
}
/*********End. Header Styles*********/


/* Nav styles */
.nav{
    position: fixed;
    z-index: 200;
    right: 0;
    width: 80%;
    display: none;
/*     display: flex; */
    flex-direction: column;
    max-height: 100%;
    background: var(--gray02);
    color: var(--white);
}
.nav__header{
    display: flex;
    justify-content: flex-end;
    background-color: var(--black);
}
.nav__header-text{
    padding: 1rem;
    font-size: 1.2em;
}
.nav__header-text:hover{
    color: var(--gray06);
}
.nav__link{
    padding: .8rem;
    padding-left: .8rem;
    color: var(--white);
}
.nav__link:hover{
    background: var(--background03);
}
.btnCloseMenu{
    text-align: center;
    padding: .8rem;
    border-top: .1em solid var(--purple);
    background: linear-gradient(var(--gray01), var(--gray04));
    color: var(--white);
}
.btnCloseMenu:hover{
    background: linear-gradient( var(--black), var(--gray02));
}
/* End Nav styles */


/* KxWelcome */
.kxWelcome{
    margin-top: 4.4em;
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--white);    
}
.kxWelcome__image{
    width: 100%;
}
.kxWelcome__text{
    position: absolute;
    margin-top: 10%;
    width: 70%;
    text-align: center;
    font-size: 2em;
    font-family: Aladin;
    text-shadow: 0 0 .1em var(--black), 0 0 .4em var(--magenta), 0 0 .2em var(--cyan);
}
.kxWelcome__text-tagLine{
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: .8rem;
}
.kxWelcome__ground{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 1.6em;
    border-radius: 100% 100% 0 0;
    background: linear-gradient( var(--purple), #0000);
}
/* End KxWelcome */


/* Main */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    max-width: 1280px;
}
.content{
    background-color: var(--white);
    border-radius: .8em 0;
    overflow: hidden;
    padding: .8rem .4rem;
}

/* mainSections */
.mainSection{
    padding-bottom: 2em;
    width: 96%;
    background: var(--white);
}
.mainSection__header{
    font-size: 2rem;
    font-family: aladin;
    margin: .4rem;
    margin-bottom: 0;
}
.mainSection__subSection-header{
    font-size: 1.75rem;
    font-family: aladin;
    margin-left: .2rem;
}
.mainSection__subSection-text{
    padding-left: .8rem;
}
#mainSection__home{
    background: none;
}
/* End. Main */


/*********Footer Styles*********/
.footer{
    margin-top: 1em;
    color: #fff;
    background: #000;
    border-top: .1em solid var(--purple);
}
.footer__license{
    padding: .5em;
    font-size: .8em;
    text-align: center;
}
/*********End. Footer Styles*********/







.myArticle img{
    position: relative;
}
.myArticle__flaticon{
    margin-left: .4rem;
    font-size: 1.5em;
}
.subSectionCard__title strong{
    font-family: aladin;
    font-size: 2rem;
    margin-left: .4rem;
}
.subSectionCard__text{
    padding: 0 .8rem;
}
.subSectionCard__link{
    width: 100%;
    text-align: center;
    padding: .8rem;
    margin-top: .8rem;
    border-top: .1rem solid var(--purple);
    background: linear-gradient( 90deg, var(--gray04) , var(--white));
    color: var(--black);
}
.subSectionCard__link:hover{
    background: linear-gradient( 90deg, var(--gray01) , var(--gray02));
    border-top: .1rem solid var(--gray06);
    color: var(--white);
}

/* Animations */
.animationContent{
    margin: auto;
    margin-top: 2rem;
    width: 90%;
}
.myArticle{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: .4em 0;
    background: linear-gradient( 90deg, #000, #444);
    color: white;
}
.myArticle div{
    display: flex;
    flex-direction: column;
    border-radius: .4em 0;
    overflow: hidden;
}
.animatedBorder:before, .animatedBorder:after{
    content: '';
    position: absolute;
    left: -.2rem;
    top: -.2rem;
    background: linear-gradient( 90deg,#6400cc, cyan, magenta, #6400cc );
    background-size: 300%;
    width: calc(100% + .4rem);
    height: calc(100% + .4rem);
    z-index: -1;
    animation: BorderAnimation 16s ease infinite;
    border-radius: .4rem 0;
    overflow: hidden;
}
.animatedBorder:after{
    filter: blur(.4rem);
}
@keyframes BorderAnimation {
    0% {
        background-position: 0% 300%;
    }
    50% {
        background-position: 300% 0%;
    }
    100% {
        background-position: 0% 300%;
    }
}
/* End Animations */










/* Courses section styles */

/* subSection CoursesCards styles */
.coursesCardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courseCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin-top: 1em;
    box-shadow: 0 0 .8em var(--black);
    background: linear-gradient(var(--black), #0000 );
}
.courseCard__title{
    padding-top: .4em;
    width: 100%;
    font-size: 2rem;
    text-align: center;
}
.courseCard__title-link{
    font-family: aladin;
    color: var(--white);
}
.courseCard__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: none;
}
.courseCard__text{
    padding: 0 .8em;
}
.courseCard__details{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: .4em;
}
.courseCard__button{
    width: 100%;
    text-align: center;
    padding: .8em;
    margin-top: .4em;
    background: var(--gray04);
    color: var(--white);
}
.courseCard__button:hover{
    background-color: var(--gray01);
}

/* subSection Course styles */
.course__text{
    margin-top: 1em;
}
.course__text::first-line{
    font-size: 1.25em;
}
.course__details{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.course__modulesList{
    margin-top: 2em;
}
.course__modulesList-header{
    margin-top: .4em;
    margin-left: .4em;
    font-size: 1.2em;
    border-bottom: .1em solid var(--purple);
}
.course__modulesList-item-link{
    margin-left: .8em;
    padding: .2em;
    list-style: none;
    color: var(--black);
}
.course__modulesList-item-link span{
    margin-left: 1em;
}
.course__modulesList-item-link:hover{
    color: var(--purple);
}
.course__resources{
    margin-top: 2em;
}
.course__resource-list-header{
    margin-top: .4em;
    margin-left: .4em;
    font-size: 1.2em;
    border-bottom: .1em solid var(--purple);
}
.course__resource-item-link{
    margin-left: .8em;
    padding: .2em;
    list-style: none;
    color: var(--black);
}
.course__resource-item-link:hover{
    color: var(--purple);
}

/* subSection Module styles */
.module__controls{
    display: flex;
    justify-content: space-around;
}
.module__control-item{
    padding: .2em;
    flex-grow: 1;
    text-align: center;
    border-bottom: .1em solid #0000;
    color: var(--black);
}
.module__control-item:hover{
    color: var(--purple);
    border-bottom: .1em solid var(--purple);

}
.module__description{
    margin-top: .8em;
}
.module__description::first-line{
    font-size: 1.2em;
}
/* End Courses section styles */










/* SupportUs Section styles */

/* subSection supportUs__card styles */
.subSection__methods{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.supportUs__card{
    width: 96%;
    margin-top: 1em;
    border: .1em solid var(--black);
    box-shadow: .2em .2em .4em var(--black);
}
.support__button{
    width: 100%;
    display: inline-block;
    padding: .4em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    background: var(--gray06);
}
.support__button:hover{
    color: var(--purple);
    background: var(--black);
}


/* End subSection SupportUs styles */













/* this display none are just temporaly */
#mainSection__home{
    display: none;
}
#mainSection__courses{
    display: none;
}
#mainSection__questions{
    display: none;
}
/* #mainSection__supportUs{
    display: none;
} */
#mainSection__aboutUs{
    display: none;
}