/********* ********* Variables ********* *********/
:root {
  --purple: #6400cc;

  --headerHeight: 2rem;
  --themeBackground: #111;
}
/********* ********* End Variables ********* *********/


/********* ********* Importing fonts ********* *********/
@font-face {
  font-family: "nunito";
  src: url(../Sources/Fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: "aladin";
  src: url(../Sources/Fonts/Aladin-Regular.ttf);
}
/********* End Importing fonts *********/


/********* ********* Reseting styles ********* *********/
body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1rem;
  font-family: nunito;
  text-decoration: none;
  color: #fff;
}
body {
  font-size: 16px;
  background: #000;
}
.mainSection{
 margin: 0 auto;
 max-width: 1366px;
}
.subSection__header{
 max-width: 720px;
 margin: 0 auto;
}
em{
  font-style: normal;
}
button{
  align-items: center;
  border: none;
  background: none;
  outline: 1px solid #222;
  border-radius: .2rem 0;
  padding: .2rem;
  background: radial-gradient(#222, #000)
}
button:hover{
  cursor: pointer;
}
iframe{
  border: none;
}
a{
 display: inline-block;
 padding: .2rem;
}
a *{
 color: inherit;
}
a:hover{
 color: #6400cc;
 cursor: pointer;
}
/********* ********* End Reseting styles ********* *********/


/********* ********* Block modifiers ********* *********/
.display-y {
  display: flex;
}
.display-yi {
  display: inline-flex;
}
.display-n {
  display: none;
}
.Kx-icon{
  margin: 0 .2rem;
  color: inherit;
  font-size: inherit;
}
.list__header{
 margin-top: 1rem;
 font-family: aladin;
 font-size: 1.6rem;
}
.list__header span{
 font-size: 1em;
}
.list li{
 margin-left: 1rem;
}
.list-h li{
 margin-left: 1rem;
 list-style: none;
}
.container-video {
 position: relative;
 height: 0;
 width: 100%;
 margin: 0rem auto;
 padding-bottom: 56.25%;
 border-radius: .4rem;
 overflow: hidden;
 background-color: #6400cc;
}
.container-video__video {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
}

/********* ********* End Block modifiers ********* *********/