/********* ********* Variables ********* *********/
:root {
  --purple: #6400cc;

  --white: #fff;
  --black: #000;

  --gray01: #111;
  --gray02: #222;
  --gray04: #444;
  --gray06: #666;

  --magenta: #f0f;
  --cyan: #0ff;
}
/********* ********* End Variables ********* *********/


/********* ********* Importing fonts ********* *********/
@font-face {
  font-family: "nunito";
  src: url(../Sources/Fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: "aladin";
  src: url(../Sources/Fonts/Aladin-Regular.ttf);
}
/********* End Importing fonts *********/


/********* ********* Reseting styles ********* *********/
body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1rem;
  font-family: nunito;
  text-decoration: none;
  color: var(--white);
}
body {
  max-width: 1366px;
  margin: 0 auto;
  font-size: 16px;
  background: var(--gray01);
}
a{
  padding: .4rem;
  padding-left: 0;
}
a, a * {
  display: inline-block;
  color: var(--purple);
  text-shadow: .1rem .1rem .1rem var(--black);
}
span {
  display: inline-block;
}
.Kx-icon {
  margin: 0 0.2rem;
}
em {
  font-style: normal;
}
button{
    border: none;
    background: none;
    outline: 1px solid var(--gray02);
}
iframe{
  border: none;
}
/********* ********* End Reseting styles ********* *********/


/********* ********* Block modifiers ********* *********/

.display-y {
  display: flex;
}
.display-n {
  display: none;
}

.Kx-button {
  padding: 0.6rem;
  border-radius: 0.8rem 0;
  outline: 1px solid var(--gray04);
  background: #111;
  background: radial-gradient(var(--gray02), var(--black));
}
.Kx-button, .Kx-button span {
  color: var(--gray06);
}
.Kx-button:hover {
  outline-color: var(--purple);
  background: radial-gradient(var(--purple), var(--black));
  cursor: pointer;
}
.Kx-button:hover, .Kx-button:hover span {
  color: var(--white);
}

.container-video {
  position: relative;
  height: 0;
  width: 100%;
  max-width: 683px;
  padding-bottom: 56.25%;
  outline: 1px solid var(--black);
  box-shadow: .0rem .0rem .8rem var(--black), .0rem .0rem .4rem var(--black);
  margin: 0rem auto;
}
@media screen and (min-width: 683px) {
  /* Media activated when .videoContainer reach his max-width */
  .container-video {
    padding-bottom: 384px;
  }
}
.container-video__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container-genericElement{
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.genericElement{
  width: 46%;
  min-width: 312px; /* 312px +8px (margin)= 320px */
  max-width: 480px;
  flex-grow: 1;
  margin: 1rem 4px 0;
}

.box{
  padding: .4rem;
  border-radius: 1rem 0;
  overflow: hidden;
  outline: 1px solid var(--gray04);
  box-shadow: .2rem .2rem .4rem var(--black);
  background-image: linear-gradient(90deg, var(--black), var(--gray01));
}
.box__header{
  font-family: aladin;
  font-size: 1.6rem;
  text-shadow: .1rem .1rem .2rem var(--purple);
}
.box__header span{
  font-size: 1.2rem;
}

.list li{
  margin-left: 1.4rem;
}
.list-h li{
  margin-left: 1.4rem;
  list-style: none;
}
.subList li{
  margin-left: 0.8rem;
}
.subList-h li{
  margin-left: 0.8rem;
  list-style: none;
}
.list__header {
  font-size: 2rem;
  font-family: aladin;
}
.text{
  padding: 0 .8rem;
}

.copyableElement-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.copyableElement-fake{
  width: 25%;
  flex-grow: 1;
  font-size: 1rem;
  border: none;
}
.button-copy{
  cursor: pointer;
  padding: .4rem;
  padding-left: 0;
  border-bottom: 1px solid transparent;
}
.button-copy:hover{
  border-color: var(--white);
}
/********* ********* End Block modifiers ********* *********/





/********* ********* Block spiner ********* *********/

.container-spiner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #000;
}
.spiner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.8em solid #222;
  border-left: 0.8em solid #6400cc;
}
.spin{
  /* Remove this class when discover how to set animation-name with JS */
  animation: Spin 0.15s linear infinite;
}
@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/********* ********* End Block spiner ********* *********/








/********* ********* Block Main structure styles ********* *********/

main, .mainSection, .mainSection__subSection {
    width: 100%;
}
.mainSection, .mainSection__subSection{
  flex-direction: column;
}
.mainSection__header{
    padding: .8rem;
    margin: 1rem auto 0;
    font-family: aladin;
    text-align: center;
    border-radius: 1rem 0;
    outline: .1rem solid var(--white);
    background-image: radial-gradient(var(--white), var(--white), var(--gray06));
    box-shadow: .2rem .2rem .4rem var(--black);
}
.mainSection__header, .mainSection__header span{
    font-size: 2rem;
}
.mainSection__header::first-line, .mainSection__header span{
    text-shadow: .2rem .2rem .4rem var(--purple);
}
.mainSection__header, .mainSection__header span, .mainSection__header p{
    color: var(--black);
}
.mainSection__subSection{
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto 0;
  padding-bottom: 1rem;
  align-items: center;
  background-image: linear-gradient(90deg, var(--gray02), var(--black));
  outline: 1px solid var(--gray06);
  border-radius: .8em;
  overflow: hidden;
}
.mainSection__subSection-header{
  width: 100%;
  margin-top: 1rem;
  padding: auto .4em 0;
  font-size: 2rem;
  font-family: aladin;
  text-align: center;
  text-shadow: .2rem .2rem .4rem var(--purple);
}
.mainSection__subSection-header h2{
    padding: auto .4em 0;
    font-size: 2rem;
    font-family: aladin;
    text-align: center;
}

/********* ********* End Block Main structure styles ********* *********/




/********* ********* Block template styles ********* *********/

/* Header */
.header {
  position: fixed;
  z-index: 9997;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.4rem 0.8rem;
  outline: 1px solid var(--purple);
  background-color: var(--black);
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo:hover *{
  text-shadow: 0.1rem 0.1rem 0.1rem var(--purple);
}
.header__logo-image {
  margin-right: 0.4rem;
  border-radius: 20% 0;
  outline: 0.1em solid var(--gray06);
}
.header__logo-text {
  font-family: aladin;
  font-size: 2rem;
  color: var(--white);
}
#margin {
  height: 3.4rem;
}
/* End Header */

/* Nav */
.nav{
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 320px;
  max-height: 100%;
  flex-direction: column;
  overflow: scroll;
  color: var(--white);
  background: var(--gray01);
  border-left: .1em solid var(--gray06);
}
.nav__header{
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--gray02);
  background-color: var(--black);
}
.nav__header:hover{
  background: linear-gradient( var(--gray02), var(--black));
}
.nav__header-text{
  padding: .4rem 1rem;
  font-family: aladin;
}
.nav__header-text, .nav__header-text span{
  font-size: 2rem;
  color: var(--gray06);
}
.nav__header-text:hover, .nav__header-text:hover span{
  color: var(--white);
  cursor: pointer;
}

.nav__item{
  display: flex;
  padding: 1rem;
  padding-left: 1.6rem;
  cursor: pointer;
}
.nav__item, .nav__item span{
  color: var(--gray06);
}
.nav__item:hover, .nav__item:hover span{
  color: var(--white);
  background: var(--black);
}

.navLinkLangs .arrow{
  position: absolute;
  right: 0;
  margin-right: 10%;
}

.langsList{
  width: 100%;
  list-style: none;
}
.langsList-item a{
  width: 100%;
  padding: 1em 1em 1em 3em;
  color: var(--gray06);
}
.langsList-item:hover, .langsList-item:hover a{
  color: var(--white);
  background: var(--black);
}

.btnMenuClose{
  display: flex;
  justify-content: center;
  padding: .4rem;
  font-family: aladin;
  font-size: 1.6rem;
  color: var(--gray06); 
  border-top: 1px solid var(--gray02);
  background: var(--black);
}
.btnMenuClose:hover{
  background: linear-gradient( var(--gray01), var(--black));
  cursor: pointer;
  color: var(--white);
}
/* End Nav */


/* main styles are on main structure and their respective code blocks */

/* MethodCard */
.methodCard{
  /* Some are the same styles that container-genericElemetn, but is used to reduce add more html classes */
  width: 46%;
  min-width: 312px; /* 312px +8px (margin)= 320px */
  max-width: 480px;
  flex-grow: 1;
  margin: 1rem 4px 0;

  border-radius: 1rem 0;
  overflow: hidden;
  outline: .1rem solid var(--gray06);
  box-shadow: .2rem .2rem .4rem var(--black);
  background-image: linear-gradient(90deg, var(--black), var(--gray02));
}
.methodCard img{
  border-bottom: .1rem solid var(--gray06);
}
.methodCard__text{
  text-align: center;
}
.methodCard__details{
  /* display, with display-y or display-n classes */
  flex-direction: column;
}
.methodCard__details-header{
  margin: 1em .8em 0;
  font-size: 1.2em;
  font-weight: bold;
}
.methodCard__button{
  width: 100%;
  display: inline-block;
  margin-top: .4em;
  padding: .4em;
  text-align: center;
  text-decoration: none;
  background: var(--gray04);
  outline: none;
  border-top: 1px solid var(--gray06);
  text-shadow: .1rem .1rem .1rem var(--black);
}
.methodCard__button:hover{
  cursor: pointer;
  outline: none;
  background: var(--black);
  border-color: var(--purple);
}
.methodCard__button, .methodCard__button span{
  color: var(--white);
  font-size: 1.2rem;
}
.methodCard__button:hover, .methodCard__button:hover span{
  color: var(--purple);
}
/* End MethodCard */

/* Footer */
.footer {
  padding: 0.4em;
  margin-top: 1em;
  color: var(--white);
  background: var(--black);
  border-top: 1px solid var(--purple);
}
.footer__license {
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
  color: var(--gray06);
}
/* End Footer */

/********* ********* End Block template styles ********* *********/








/********* ********* End Block Home styles ********* *********/

/* KxWelcome styles */
#kxWelcome {
    position: relative;
    justify-content: center;
    cursor: default;
    overflow: hidden;
    background-image: linear-gradient(var(--purple), var(--black));
}
.kxWelcome__image {
    width: 100%;
}
.kxWelcome__text {
    position: absolute;
    margin-top: 8%;
    font-size: 2rem;
    font-family: aladin;
    text-align: center;
    text-shadow: 0 0 0.1rem var(--black), 0 0 0.4rem var(--magenta),
    0 0 0.2rem var(--cyan);
}
.kxWelcome__text-tagLine {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 0.8rem;
}
.kxWelcome__ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.6rem;
    border-top: 1px solid var(--gray04);
    border-radius: 100% 100% 0 0;
    background: linear-gradient(var(--black), #111);
}
/* End KxWelcome styles */

/* mainSectionCards */
.container-mainSectionCards{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    width: 100%;
}
.container-mainSectionCard{
    width: 85%;
    min-width: 300px;
    max-width: 480px;
    margin: 2rem auto 0;
}
.mainSectionCard{
    overflow: hidden;
}
.mainSectionCard__img{
    position: relative;
}
.mainSectionCard__title{
    text-align: center;
}
.mainSectionCard__icon, .mainSectionCard__title-text{
    font-size: 2rem;
}
.mainSectionCard__title-text{
    font-family: aladin;
    margin: 0 .4rem;
}
.mainSectionCard .text{
    text-align: center;
}
.mainSectionCard__button{
    width: 100%;
    padding: .8rem;
    margin-top: .8rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--black);
    background: linear-gradient( 90deg, var(--gray04) , var(--white));
    border: none;
    border-top: .1rem solid var(--purple);
}
.mainSectionCard__button:hover{
    background: linear-gradient( 90deg, var(--black) , var(--gray02));
    border-top: .1rem solid var(--gray06);
    color: var(--white);
}

/* To activate the animation, set the animation-name property on ::before and ::after*/
.animatedBorder{
    position: relative;
    width: 100%;
    background: linear-gradient( 90deg, #000, #444);
}
.animatedBorder:before, .animatedBorder:after{
    content: '';
    position: absolute;
    z-index: -1;
    top: -.3rem;
    left: -.3rem;
    width: calc(100% + .6rem);
    height: calc(100% + .6rem);
    overflow: hidden;
    animation: linear 15s;
    /* backGradient must be before backSize */
    background: linear-gradient( 90deg,#6400cc, cyan, magenta, #6400cc, cyan, magenta , #6400cc );
    background-size: 300%;
}
.animatedBorder::before{
    /* animatedBorder::after acts like solid border */
    filter: blur(.4rem);
}
.mainSectionCard, .animatedBorder, .animatedBorder:before, .animatedBorder:after{
    border-radius: 2rem 0;
}
@keyframes BorderAnimation{
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 300%;
    }
}
/* End mainSectionCards */

/********* ********* Block Home styles ********* *********/








/********* ********* Courses styles ********* *********/

/* CoursesCards */
.courseCard{
  display: flex;
  border-radius: 1rem 0;
  overflow: hidden;
  box-shadow: .2rem .2rem .2rem var(--black);
  outline: .2rem solid var(--black);
}
.courseCard__header{
  width: 50%;
  min-width: 100px;
  max-width: 128px;
  padding: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(var(--purple), var(--black));
}
.courseCard__header-title{
  font-family: aladin;
  font-size: 2rem;
  text-align: center;
  text-shadow: .2rem .2rem var(--black);
}
.courseCard__header-subTitle{
  font-size: .8rem;
  color: #888;
  text-align: center;
}
.courseCard__header .Kx-icon{
  font-size: 3rem;
}
.courseCard__body{
  padding: .4rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#444, #111);
}
.courseCard__body-lastUpdate{
  display: flex;
  justify-content: flex-end;
}
.courseCard__body-lastUpdate span{
  margin-left: .4rem;
  color: #888;
}
.courseCard__body-title{
  margin-top: 1rem;
  font-family: aladin;
  font-size: 1.6rem;
  text-shadow: .2rem .2rem var(--black);
}
.courseCard__button{
  align-self: end;
  padding: .4rem;
  margin: 1rem .4rem .2rem 0;
  width: 150px;
  font-size: 1.2rem;
  font-family: aladin;
  color: var(--white);
  text-shadow: .1rem .1rem var(--black);
  background: linear-gradient(var(--purple), var(--black));
  border-radius: .4rem 0;
  overflow: hidden;
}
.courseCard__button:hover{
  cursor: pointer;
  outline-color: var(--gray06);
}
/* End CoursesCards */

/* Course subSection */
.course__header{
  width: 100%
}
.course__header-title{
  font-family: aladin;
  font-size: 2rem;
  text-shadow: .2rem .2rem var(--black);
}
.course__modulesList-item{
  padding: .2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.course__modulesList-item span{
  margin: 0 1rem;
}
.course__modulesList-item:hover, .course__modulesList-item:hover *{
  color: var(--purple);
  cursor: pointer;
}
.resources__item, .resources__item *{
  padding: .2rem;
  padding-left: 0;
  color: var(--white);
}
.resources__item:hover, .resources__item:hover *{
  color: var(--purple);
}
.btnShowCourseCards{
  display: block;
  margin: 2rem auto 0;
  padding: .8rem;
  width: 80%;
  text-align: center;
  font-size: 1.2em;
  border-radius: 1em 0;
  border: .1em solid var(--gray02);
  background: linear-gradient( var(--gray04), var(--gray02) );
}
.btnShowCourseCards:hover{
  background: linear-gradient( var(--gray02), var(--black) );
  text-shadow: 0 0 .2em var(--purple);
}
/* End Course subSection */

/* Module subSection */
.module__controls{
  width: 100%;
  max-width: 683px;
  display: flex;
  justify-content: space-evenly;
}
.module__controls-control{
  margin: .4rem 0;
}
.module__header{
  width: 100%
}
.module__header-title{
  font-family: aladin;
  font-size: 2rem;
  text-shadow: .2rem .2rem var(--black);
}
.module__contentList-item{
  padding: .2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.module__contentList-item span{
  margin: 0 1rem;
}
.module__contentList-item:hover, .module__contentList-item:hover *{
  color: var(--purple);
  cursor: pointer;
}
/* End Module subSection */

/********* ********* Block Courses styles ********* *********/