.nav{
    width: 400px;
}

.kxWelcome__text{
    font-size: 4rem;
}
.kxWelcome__text-tagLine{
    font-size: 2rem;
}
.kxWelcome__ground{
    height: 4rem;
}


/* Home */
.mainSectionCards-container{
    grid-template-columns: 1fr 1fr;
}

.animatedBorder:before, .animatedBorder:after{
    animation: BorderAnimation 10s linear infinite;
}