.nav{
    width: 40%;
    font-size: 20px;
}

.nav__link{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.kxWelcome__text{
    font-size: 6rem;
}
.kxWelcome__text-tagLine{
    font-size: 2.5rem;
}


.text{
    padding: 0 1rem 0;
    font-size: 20px;
}

.courseCard__text{
    font-size: 20px;
}

li, li *{
    font-size: 20px;
}


.mainSectionCard__icon, .mainSectionCard__title strong{
    font-size: 2.5rem;
}

.mainSection__subSection-header{
    font-size: 3rem;
}

.mainSection__subSection-header h2{
    font-size: 3rem;    
}

.mainSectionCard__link{
    font-size: 1.2rem;
}

.mainSection__header{
    font-size: 4.8rem;
}

.coursesCardsContainer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.courseCard__header-title{
    font-size: 3rem;
}

.courseCard__button{
    font-size: 1.4rem;
}


.methodCard__button{
    font-size: 1.4rem;
}

.footer__license{
    padding: .5em;
    font-size: 1em;
}

.animatedBorderContainer, .methodCard, .courseCard{
    width: 48%;
}

.mainSectionLinksContainer{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mainSection__subSection{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.course__resource-list{
    width: 45%;
}

.course__resource-list-header{
    text-align: center;
}

#btnShowCourseCards{
    width: 50%;
}