:root{
  --headerHeight: 3rem;
}
.header__logo-image{
  width: 40px;
  height: 40px;
}
.header__logo-text{
  font-size: 2.5rem;
}
.nav__item{
  border: 1px solid transparent;
}
.nav__item:hover{
  border-color: #666;
}
.nav__header, .nav__closeMenu{
  display: none;
}

.languages{
  position: absolute;
  top: 2.5rem;
  left: -.2rem;
  margin-top: 0;
  background: inherit;
}

@media screen and (min-width: 960px) {
  .welcomeBanner__container-text1{
    font-size: 5rem;
  }
  .container-sectionCards{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1064px) {
  .welcomeBanner__container-text1{
    font-size: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .welcomeBanner__container-text1{
    font-size: 7rem;
  }
}
@media screen and (min-width: 1280px) {
  .container-sectionCards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}