.header__logo-image{
  width: 24px;
  height: 24px;
}

/* Menu styles */
.nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 1px solid var(--purple);
}
.nav__item{
  text-align: left;
}
/* End Menu styles */

.nav__header{
  padding: .2rem 1rem;
  font-family: aladin;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #222;
}
.nav__header:hover{
  background-image: radial-gradient(#222, #000);
  cursor: pointer;
}
.nav__closeMenu{
  padding: .2rem;
  text-align: center;
  font-family: aladin;
  font-size: 1.2rem;
  border-top: 1px solid #222;
}
.nav__closeMenu:hover{
  background-image: radial-gradient(#222, #000);
  cursor: pointer;
}

.mainSection{
  flex-direction: column;
}