.nav{
    width: 60%;
}

.kxWelcome__text{
    font-size: 3rem;
}
.kxWelcome__text-tagLine{
    font-size: 1.2rem;
}

.text{
    padding: 0 1rem 0;
}

.mainSectionCard__icon, .mainSectionCard__title strong{
    font-size: 2.5rem;
}

.mainSection__subSection-header h2, .mainSection__subSection-header{
    font-size: 3rem;
}


.mainSectionCard__link{
    font-size: 1.2rem;
}

.mainSection__header{
    font-size: 3rem;
}

.courseCard__header-title{
    font-size: 2.5rem;
}

.courseCard__button{
    font-size: 1.4rem;
}

.methodCard__button{
    font-size: 1.4rem;
}

.footer__license{
    padding: .5em;
    font-size: 1em;
}