.kxWelcome__text{
    margin-top: 6rem;
    font-size: 6rem;
}
.kxWelcome__text-tagLine{
    font-size: 2rem;
}
.kxWelcome__ground{
    height: 4rem;
}


/* Home */
.container-mainSectionCards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}